{% load static %}
<!DOCTYPE html>
<html>
 <head>
  <title>{% block title %}Welcome to my site!{% endblock %}</title>               <link href="{% static 'css/base.css' %}" rel="stylesheet"> 
 </head>
 <body>
     <div id= "sidebar">
         {% block sidebar %}
         <ul>
             <li><a href="/">Home</a><</li>
             <li><a href="/writings/">Writings</a></li>
         </ul>
         {% endblock %}
     </div>
  <div id="content">
      <h2>Piece One</h2>
      <p>This is where my first piece will go.</p>

      <h2>Piece Two</h2>
      <p>This is where my second piece will go. I will put another writing below.</p>
   {% block content %}                                           
   {% endblock %}
  </div>
 </body>
</html>